# Task-03

Build a decision tree classifier to predict whether a customer will purchase a product or service based on their demographic and behavioral data. Use a dataset such as the Bank Marketing dataset from the UCI Machine Learning Repository.

Sample Dateset :-
https://archive.ics.uci.edu/ml/datasets/Bank+Marketing

In [68]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report
from sklearn import preprocessing
from sklearn.tree import export_text
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
data=pd.read_csv("/home/mustafa/internship/PRODIGY_DS_INTERN/PRODIGY_DS_Task-03/Datasets/bank-additional.csv")
df=pd.DataFrame(data)
df

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,...,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y
0,30,blue-collar,married,basic.9y,no,yes,no,cellular,may,fri,...,2,999,0,nonexistent,-1.8,92.893,-46.2,1.313,5099.1,no
1,39,services,single,high.school,no,no,no,telephone,may,fri,...,4,999,0,nonexistent,1.1,93.994,-36.4,4.855,5191.0,no
2,25,services,married,high.school,no,yes,no,telephone,jun,wed,...,1,999,0,nonexistent,1.4,94.465,-41.8,4.962,5228.1,no
3,38,services,married,basic.9y,no,unknown,unknown,telephone,jun,fri,...,3,999,0,nonexistent,1.4,94.465,-41.8,4.959,5228.1,no
4,47,admin.,married,university.degree,no,yes,no,cellular,nov,mon,...,1,999,0,nonexistent,-0.1,93.200,-42.0,4.191,5195.8,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4114,30,admin.,married,basic.6y,no,yes,yes,cellular,jul,thu,...,1,999,0,nonexistent,1.4,93.918,-42.7,4.958,5228.1,no
4115,39,admin.,married,high.school,no,yes,no,telephone,jul,fri,...,1,999,0,nonexistent,1.4,93.918,-42.7,4.959,5228.1,no
4116,27,student,single,high.school,no,no,no,cellular,may,mon,...,2,999,1,failure,-1.8,92.893,-46.2,1.354,5099.1,no
4117,58,admin.,married,high.school,no,no,no,cellular,aug,fri,...,1,999,0,nonexistent,1.4,93.444,-36.1,4.966,5228.1,no
4118,34,management,single,high.school,no,yes,no,cellular,nov,wed,...,1,999,0,nonexistent,-0.1,93.200,-42.0,4.120,5195.8,no

In [69]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4119 entries, 0 to 4118
Data columns (total 21 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             4119 non-null   int64
 1   job             4119 non-null   object
 2   marital         4119 non-null   object
 3   education       4119 non-null   object
 4   default         4119 non-null   object
 5   housing         4119 non-null   object
 6   loan            4119 non-null   object
 7   contact         4119 non-null   object
 8   month           4119 non-null   object
 9   day_of_week     4119 non-null   object
 10  duration        4119 non-null   int64
 11  campaign        4119 non-null   int64
 12  pdays           4119 non-null   int64
 13  previous        4119 non-null   int64
 14  poutcome        4119 non-null   object
 15  emp.var.rate    4119 non-null   float64
 16  cons.price.idx  4119 non-null   float64
 17  cons.conf.idx   4119 non-null   float64
 18  euribor3m       4119 non-null   float64
 19  nr.employed     4119 non-null   float64
 20  y               4119 non-null   object
dtypes: float64(5), int64(5), object(11)
memory usage: 675.9+ KB

In [70]:
df.describe()

,age,duration,campaign,pdays,previous,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed
count,4119.000000,4119.000000,4119.000000,4119.000000,4119.000000,4119.000000,4119.000000,4119.000000,4119.000000,4119.000000
mean,40.113620,256.788055,2.537266,960.422190,0.190337,0.084972,93.579704,-40.499102,3.621356,5166.481695
std,10.313362,254.703736,2.568159,191.922786,0.541788,1.563114,0.579349,4.594578,1.733591,73.667904
min,18.000000,0.000000,1.000000,0.000000,0.000000,-3.400000,92.201000,-50.800000,0.635000,4963.600000
25%,32.000000,103.000000,1.000000,999.000000,0.000000,-1.800000,93.075000,-42.700000,1.334000,5099.100000
50%,38.000000,181.000000,2.000000,999.000000,0.000000,1.100000,93.749000,-41.800000,4.857000,5191.000000
75%,47.000000,317.000000,3.000000,999.000000,0.000000,1.400000,93.994000,-36.400000,4.961000,5228.100000
max,88.000000,3643.000000,35.000000,999.000000,6.000000,1.400000,94.767000,-26.900000,5.045000,5228.100000

In [71]:
df.dropna()

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,...,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y
0,30,blue-collar,married,basic.9y,no,yes,no,cellular,may,fri,...,2,999,0,nonexistent,-1.8,92.893,-46.2,1.313,5099.1,no
1,39,services,single,high.school,no,no,no,telephone,may,fri,...,4,999,0,nonexistent,1.1,93.994,-36.4,4.855,5191.0,no
2,25,services,married,high.school,no,yes,no,telephone,jun,wed,...,1,999,0,nonexistent,1.4,94.465,-41.8,4.962,5228.1,no
3,38,services,married,basic.9y,no,unknown,unknown,telephone,jun,fri,...,3,999,0,nonexistent,1.4,94.465,-41.8,4.959,5228.1,no
4,47,admin.,married,university.degree,no,yes,no,cellular,nov,mon,...,1,999,0,nonexistent,-0.1,93.200,-42.0,4.191,5195.8,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4114,30,admin.,married,basic.6y,no,yes,yes,cellular,jul,thu,...,1,999,0,nonexistent,1.4,93.918,-42.7,4.958,5228.1,no
4115,39,admin.,married,high.school,no,yes,no,telephone,jul,fri,...,1,999,0,nonexistent,1.4,93.918,-42.7,4.959,5228.1,no
4116,27,student,single,high.school,no,no,no,cellular,may,mon,...,2,999,1,failure,-1.8,92.893,-46.2,1.354,5099.1,no
4117,58,admin.,married,high.school,no,no,no,cellular,aug,fri,...,1,999,0,nonexistent,1.4,93.444,-36.1,4.966,5228.1,no
4118,34,management,single,high.school,no,yes,no,cellular,nov,wed,...,1,999,0,nonexistent,-0.1,93.200,-42.0,4.120,5195.8,no

In [72]:
df

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,...,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y
0,30,blue-collar,married,basic.9y,no,yes,no,cellular,may,fri,...,2,999,0,nonexistent,-1.8,92.893,-46.2,1.313,5099.1,no
1,39,services,single,high.school,no,no,no,telephone,may,fri,...,4,999,0,nonexistent,1.1,93.994,-36.4,4.855,5191.0,no
2,25,services,married,high.school,no,yes,no,telephone,jun,wed,...,1,999,0,nonexistent,1.4,94.465,-41.8,4.962,5228.1,no
3,38,services,married,basic.9y,no,unknown,unknown,telephone,jun,fri,...,3,999,0,nonexistent,1.4,94.465,-41.8,4.959,5228.1,no
4,47,admin.,married,university.degree,no,yes,no,cellular,nov,mon,...,1,999,0,nonexistent,-0.1,93.200,-42.0,4.191,5195.8,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4114,30,admin.,married,basic.6y,no,yes,yes,cellular,jul,thu,...,1,999,0,nonexistent,1.4,93.918,-42.7,4.958,5228.1,no
4115,39,admin.,married,high.school,no,yes,no,telephone,jul,fri,...,1,999,0,nonexistent,1.4,93.918,-42.7,4.959,5228.1,no
4116,27,student,single,high.school,no,no,no,cellular,may,mon,...,2,999,1,failure,-1.8,92.893,-46.2,1.354,5099.1,no
4117,58,admin.,married,high.school,no,no,no,cellular,aug,fri,...,1,999,0,nonexistent,1.4,93.444,-36.1,4.966,5228.1,no
4118,34,management,single,high.school,no,yes,no,cellular,nov,wed,...,1,999,0,nonexistent,-0.1,93.200,-42.0,4.120,5195.8,no

In [73]:
# Encode categorical variables
le = preprocessing.LabelEncoder()
df['job'] = le.fit_transform(df['job'])
df['marital'] = le.fit_transform(df['marital'])
df['education'] = le.fit_transform(df['education'])
df['default'] = le.fit_transform(df['default'])
df['housing'] = le.fit_transform(df['housing'])
df['loan'] = le.fit_transform(df['loan'])
df['contact'] = le.fit_transform(df['contact'])
df['month'] = le.fit_transform(df['month'])
df['day_of_week'] = le.fit_transform(df['day_of_week'])
df['poutcome'] = le.fit_transform(df['poutcome'])
df['y'] = le.fit_transform(df['y'])

In [74]:
df

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,...,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y
0,30,1,1,2,0,2,0,0,6,0,...,2,999,0,1,-1.8,92.893,-46.2,1.313,5099.1,0
1,39,7,2,3,0,0,0,1,6,0,...,4,999,0,1,1.1,93.994,-36.4,4.855,5191.0,0
2,25,7,1,3,0,2,0,1,4,4,...,1,999,0,1,1.4,94.465,-41.8,4.962,5228.1,0
3,38,7,1,2,0,1,1,1,4,0,...,3,999,0,1,1.4,94.465,-41.8,4.959,5228.1,0
4,47,0,1,6,0,2,0,0,7,1,...,1,999,0,1,-0.1,93.200,-42.0,4.191,5195.8,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4114,30,0,1,1,0,2,2,0,3,2,...,1,999,0,1,1.4,93.918,-42.7,4.958,5228.1,0
4115,39,0,1,3,0,2,0,1,3,0,...,1,999,0,1,1.4,93.918,-42.7,4.959,5228.1,0
4116,27,8,2,3,0,0,0,0,6,1,...,2,999,1,0,-1.8,92.893,-46.2,1.354,5099.1,0
4117,58,0,1,3,0,0,0,0,1,0,...,1,999,0,1,1.4,93.444,-36.1,4.966,5228.1,0
4118,34,4,2,3,0,2,0,0,7,4,...,1,999,0,1,-0.1,93.200,-42.0,4.120,5195.8,0

In [75]:
X = df.drop('y', axis=1)
y = df['y']

In [76]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [77]:
# Create a decision tree classifier
clf = DecisionTreeClassifier(random_state=42)

In [78]:
# Train the classifier
clf.fit(X_train, y_train)

DecisionTreeClassifier(random_state=42)

In [79]:
# Make predictions on the test set
y_pred = clf.predict(X_test)

In [80]:
# Evaluate the classifier
accuracy = accuracy_score(y_test, y_pred)
conf_matrix = confusion_matrix(y_test, y_pred)
classification_rep = classification_report(y_test, y_pred)

In [81]:
print(f"Accuracy: {accuracy:.2f}")
print(f"Confusion Matrix:\n{conf_matrix}")
print(f"Classification Report:\n{classification_rep}")

Accuracy: 0.87
Confusion Matrix:
[[675  57]
 [ 49  43]]
Classification Report:
              precision    recall  f1-score   support

           0       0.93      0.92      0.93       732
           1       0.43      0.47      0.45        92

    accuracy                           0.87       824
   macro avg       0.68      0.69      0.69       824
weighted avg       0.88      0.87      0.87       824

In [82]:
# Display the decision tree rules
tree_rules = export_text(clf, feature_names=list(X.columns))
print("\nDecision Tree Rules:\n", tree_rules)

Decision Tree Rules:
 |--- duration <= 563.50
|   |--- nr.employed <= 5087.65
|   |   |--- duration <= 165.50
|   |   |   |--- pdays <= 3.50
|   |   |   |   |--- euribor3m <= 0.86
|   |   |   |   |   |--- age <= 47.00
|   |   |   |   |   |   |--- class: 1
|   |   |   |   |   |--- age >  47.00
|   |   |   |   |   |   |--- class: 0
|   |   |   |   |--- euribor3m >  0.86
|   |   |   |   |   |--- duration <= 149.00
|   |   |   |   |   |   |--- class: 0
|   |   |   |   |   |--- duration >  149.00
|   |   |   |   |   |   |--- class: 1
|   |   |   |--- pdays >  3.50
|   |   |   |   |--- euribor3m <= 0.66
|   |   |   |   |   |--- marital <= 1.50
|   |   |   |   |   |   |--- class: 0
|   |   |   |   |   |--- marital >  1.50
|   |   |   |   |   |   |--- class: 1
|   |   |   |   |--- euribor3m >  0.66
|   |   |   |   |   |--- default <= 0.50
|   |   |   |   |   |   |--- cons.price.idx <= 93.36
|   |   |   |   |   |   |   |--- day_of_week <= 2.50
|   |   |   |   |   |   |   |   |--- duration <= 114.50
|   |   |   |   |   |   |   |   |   |--- job <= 9.50
|   |   |   |   |   |   |   |   |   |   |--- campaign <= 2.50
|   |   |   |   |   |   |   |   |   |   |   |--- class: 0
|   |   |   |   |   |   |   |   |   |   |--- campaign >  2.50
|   |   |   |   |   |   |   |   |   |   |   |--- truncated branch of depth 2
|   |   |   |   |   |   |   |   |   |--- job >  9.50
|   |   |   |   |   |   |   |   |   |   |--- class: 1
|   |   |   |   |   |   |   |   |--- duration >  114.50
|   |   |   |   |   |   |   |   |   |--- loan <= 1.00
|   |   |   |   |   |   |   |   |   |   |--- campaign <= 3.50
|   |   |   |   |   |   |   |   |   |   |   |--- truncated branch of depth 5
|   |   |   |   |   |   |   |   |   |   |--- campaign >  3.50
|   |   |   |   |   |   |   |   |   |   |   |--- class: 1
|   |   |   |   |   |   |   |   |   |--- loan >  1.00
|   |   |   |   |   |   |   |   |   |   |--- cons.price.idx <= 92.32
|   |   |   |   |   |   |   |   |   |   |   |--- truncated branch of depth 2
|   |   |   |   |   |   |   |   |   |   |--- cons.price.idx >  92.32
|   |   |   |   |   |   |   |   |   |   |   |--- class: 1
|   |   |   |   |   |   |   |--- day_of_week >  2.50
|   |   |   |   |   |   |   |   |--- cons.conf.idx <= -28.35
|   |   |   |   |   |   |   |   |   |--- class: 0
|   |   |   |   |   |   |   |   |--- cons.conf.idx >  -28.35
|   |   |   |   |   |   |   |   |   |--- housing <= 1.00
|   |   |   |   |   |   |   |   |   |   |--- campaign <= 1.50
|   |   |   |   |   |   |   |   |   |   |   |--- class: 0
|   |   |   |   |   |   |   |   |   |   |--- campaign >  1.50
|   |   |   |   |   |   |   |   |   |   |   |--- class: 1
|   |   |   |   |   |   |   |   |   |--- housing >  1.00
|   |   |   |   |   |   |   |   |   |   |--- class: 0
|   |   |   |   |   |   |--- cons.price.idx >  93.36
|   |   |   |   |   |   |   |--- class: 0
|   |   |   |   |   |--- default >  0.50
|   |   |   |   |   |   |--- emp.var.rate <= -3.15
|   |   |   |   |   |   |   |--- class: 1
|   |   |   |   |   |   |--- emp.var.rate >  -3.15
|   |   |   |   |   |   |   |--- day_of_week <= 2.50
|   |   |   |   |   |   |   |   |--- class: 0
|   |   |   |   |   |   |   |--- day_of_week >  2.50
|   |   |   |   |   |   |   |   |--- class: 1
|   |   |--- duration >  165.50
|   |   |   |--- contact <= 0.50
|   |   |   |   |--- pdays <= 15.50
|   |   |   |   |   |--- euribor3m <= 0.77
|   |   |   |   |   |   |--- age <= 22.00
|   |   |   |   |   |   |   |--- class: 0
|   |   |   |   |   |   |--- age >  22.00
|   |   |   |   |   |   |   |--- class: 1
|   |   |   |   |   |--- euribor3m >  0.77
|   |   |   |   |   |   |--- education <= 2.50
|   |   |   |   |   |   |   |--- class: 0
|   |   |   |   |   |   |--- education >  2.50
|   |   |   |   |   |   |   |--- duration <= 217.50
|   |   |   |   |   |   |   |   |--- education <= 5.50
|   |   |   |   |   |   |   |   |   |--- class: 0
|   |   |   |   |   |   |   |   |--- education >  5.50
|   |   |   |   |   |   |   |   |   |--- job <= 2.50
|   |   |   |   |   |   |   |   |   |   |--- class: 0
|   |   |   |   |   |   |   |   |   |--- job >  2.50
|   |   |   |   |   |   |   |   |   |   |--- class: 1
|   |   |   |   |   |   |   |--- duration >  217.50
|   |   |   |   |   |   |   |   |--- pdays <= 7.50
|   |   |   |   |   |   |   |   |   |--- campaign <= 5.50
|   |   |   |   |   |   |   |   |   |   |--- previous <= 1.50
|   |   |   |   |   |   |   |   |   |   |   |--- truncated branch of depth 4
|   |   |   |   |   |   |   |   |   |   |--- previous >  1.50
|   |   |   |   |   |   |   |   |   |   |   |--- class: 1
|   |   |   |   |   |   |   |   |   |--- campaign >  5.50
|   |   |   |   |   |   |   |   |   |   |--- class: 0
|   |   |   |   |   |   |   |   |--- pdays >  7.50
|   |   |   |   |   |   |   |   |   |--- class: 0
|   |   |   |   |--- pdays >  15.50
|   |   |   |   |   |--- duration <= 228.50
|   |   |   |   |   |   |--- duration <= 196.50
|   |   |   |   |   |   |   |--- day_of_week <= 2.50
|   |   |   |   |   |   |   |   |--- age <= 24.50
|   |   |   |   |   |   |   |   |   |--- education <= 5.50
|   |   |   |   |   |   |   |   |   |   |--- class: 0
|   |   |   |   |   |   |   |   |   |--- education >  5.50
|   |   |   |   |   |   |   |   |   |   |--- class: 1
|   |   |   |   |   |   |   |   |--- age >  24.50
|   |   |   |   |   |   |   |   |   |--- class: 1
|   |   |   |   |   |   |   |--- day_of_week >  2.50
|   |   |   |   |   |   |   |   |--- poutcome <= 0.50
|   |   |   |   |   |   |   |   |   |--- duration <= 185.50
|   |   |   |   |   |   |   |   |   |   |--- class: 1
|   |   |   |   |   |   |   |   |   |--- duration >  185.50
|   |   |   |   |   |   |   |   |   |   |--- class: 0
|   |   |   |   |   |   |   |   |--- poutcome >  0.50
|   |   |   |   |   |   |   |   |   |--- euribor3m <= 0.72
|   |   |   |   |   |   |   |   |   |   |--- housing <= 1.00
|   |   |   |   |   |   |   |   |   |   |   |--- class: 0
|   |   |   |   |   |   |   |   |   |   |--- housing >  1.00
|   |   |   |   |   |   |   |   |   |   |   |--- class: 1
|   |   |   |   |   |   |   |   |   |--- euribor3m >  0.72
|   |   |   |   |   |   |   |   |   |   |--- class: 0
|   |   |   |   |   |   |--- duration >  196.50
|   |   |   |   |   |   |   |--- euribor3m <= 0.86
|   |   |   |   |   |   |   |   |--- month <= 4.50
|   |   |   |   |   |   |   |   |   |--- cons.conf.idx <= -40.05
|   |   |   |   |   |   |   |   |   |   |--- class: 0
|   |   |   |   |   |   |   |   |   |--- cons.conf.idx >  -40.05
|   |   |   |   |   |   |   |   |   |   |--- class: 1
|   |   |   |   |   |   |   |   |--- month >  4.50
|   |   |   |   |   |   |   |   |   |--- class: 0
|   |   |   |   |   |   |   |--- euribor3m >  0.86
|   |   |   |   |   |   |   |   |--- class: 0
|   |   |   |   |   |--- duration >  228.50
|   |   |   |   |   |   |--- cons.price.idx <= 92.40
|   |   |   |   |   |   |   |--- duration <= 239.00
|   |   |   |   |   |   |   |   |--- class: 1
|   |   |   |   |   |   |   |--- duration >  239.00
|   |   |   |   |   |   |   |   |--- marital <= 0.50
|   |   |   |   |   |   |   |   |   |--- education <= 4.50
|   |   |   |   |   |   |   |   |   |   |--- class: 1
|   |   |   |   |   |   |   |   |   |--- education >  4.50
|   |   |   |   |   |   |   |   |   |   |--- class: 0
|   |   |   |   |   |   |   |   |--- marital >  0.50
|   |   |   |   |   |   |   |   |   |--- class: 0
|   |   |   |   |   |   |--- cons.price.idx >  92.40
|   |   |   |   |   |   |   |--- previous <= 0.50
|   |   |   |   |   |   |   |   |--- duration <= 401.00
|   |   |   |   |   |   |   |   |   |--- age <= 27.50
|   |   |   |   |   |   |   |   |   |   |--- class: 1
|   |   |   |   |   |   |   |   |   |--- age >  27.50
|   |   |   |   |   |   |   |   |   |   |--- job <= 1.50
|   |   |   |   |   |   |   |   |   |   |   |--- truncated branch of depth 4
|   |   |   |   |   |   |   |   |   |   |--- job >  1.50
|   |   |   |   |   |   |   |   |   |   |   |--- truncated branch of depth 6
|   |   |   |   |   |   |   |   |--- duration >  401.00
|   |   |   |   |   |   |   |   |   |--- class: 1
|   |   |   |   |   |   |   |--- previous >  0.50
|   |   |   |   |   |   |   |   |--- age <= 28.50
|   |   |   |   |   |   |   |   |   |--- month <= 3.50
|   |   |   |   |   |   |   |   |   |   |--- class: 0
|   |   |   |   |   |   |   |   |   |--- month >  3.50
|   |   |   |   |   |   |   |   |   |   |--- class: 1
|   |   |   |   |   |   |   |   |--- age >  28.50
|   |   |   |   |   |   |   |   |   |--- duration <= 276.50
|   |   |   |   |   |   |   |   |   |   |--- duration <= 231.00
|   |   |   |   |   |   |   |   |   |   |   |--- class: 1
|   |   |   |   |   |   |   |   |   |   |--- duration >  231.00
|   |   |   |   |   |   |   |   |   |   |   |--- truncated branch of depth 2
|   |   |   |   |   |   |   |   |   |--- duration >  276.50
|   |   |   |   |   |   |   |   |   |   |--- euribor3m <= 0.70
|   |   |   |   |   |   |   |   |   |   |   |--- class: 0
|   |   |   |   |   |   |   |   |   |   |--- euribor3m >  0.70
|   |   |   |   |   |   |   |   |   |   |   |--- truncated branch of depth 4
|   |   |   |--- contact >  0.50
|   |   |   |   |--- euribor3m <= 0.70
|   |   |   |   |   |--- age <= 53.50
|   |   |   |   |   |   |--- class: 1
|   |   |   |   |   |--- age >  53.50
|   |   |   |   |   |   |--- class: 0
|   |   |   |   |--- euribor3m >  0.70
|   |   |   |   |   |--- job <= 10.50
|   |   |   |   |   |   |--- class: 0
|   |   |   |   |   |--- job >  10.50
|   |   |   |   |   |   |--- class: 1
|   |--- nr.employed >  5087.65
|   |   |--- cons.conf.idx <= -48.55
|   |   |   |--- duration <= 221.00
|   |   |   |   |--- campaign <= 2.50
|   |   |   |   |   |--- duration <= 69.00
|   |   |   |   |   |   |--- class: 1
|   |   |   |   |   |--- duration >  69.00
|   |   |   |   |   |   |--- class: 0
|   |   |   |   |--- campaign >  2.50
|   |   |   |   |   |--- class: 1
|   |   |   |--- duration >  221.00
|   |   |   |   |--- default <= 0.50
|   |   |   |   |   |--- class: 1
|   |   |   |   |--- default >  0.50
|   |   |   |   |   |--- class: 0
|   |   |--- cons.conf.idx >  -48.55
|   |   |   |--- duration <= 416.00
|   |   |   |   |--- month <= 7.50
|   |   |   |   |   |--- age <= 70.50
|   |   |   |   |   |   |--- pdays <= 3.50
|   |   |   |   |   |   |   |--- day_of_week <= 1.50
|   |   |   |   |   |   |   |   |--- class: 1
|   |   |   |   |   |   |   |--- day_of_week >  1.50
|   |   |   |   |   |   |   |   |--- job <= 8.00
|   |   |   |   |   |   |   |   |   |--- class: 0
|   |   |   |   |   |   |   |   |--- job >  8.00
|   |   |   |   |   |   |   |   |   |--- class: 1
|   |   |   |   |   |   |--- pdays >  3.50
|   |   |   |   |   |   |   |--- cons.conf.idx <= -46.65
|   |   |   |   |   |   |   |   |--- euribor3m <= 1.49
|   |   |   |   |   |   |   |   |   |--- job <= 0.50
|   |   |   |   |   |   |   |   |   |   |--- age <= 54.00
|   |   |   |   |   |   |   |   |   |   |   |--- truncated branch of depth 4
|   |   |   |   |   |   |   |   |   |   |--- age >  54.00
|   |   |   |   |   |   |   |   |   |   |   |--- class: 1
|   |   |   |   |   |   |   |   |   |--- job >  0.50
|   |   |   |   |   |   |   |   |   |   |--- duration <= 377.50
|   |   |   |   |   |   |   |   |   |   |   |--- truncated branch of depth 5
|   |   |   |   |   |   |   |   |   |   |--- duration >  377.50
|   |   |   |   |   |   |   |   |   |   |   |--- truncated branch of depth 2
|   |   |   |   |   |   |   |   |--- euribor3m >  1.49
|   |   |   |   |   |   |   |   |   |--- class: 1
|   |   |   |   |   |   |   |--- cons.conf.idx >  -46.65
|   |   |   |   |   |   |   |   |--- duration <= 310.50
|   |   |   |   |   |   |   |   |   |--- duration <= 229.50
|   |   |   |   |   |   |   |   |   |   |--- euribor3m <= 1.27
|   |   |   |   |   |   |   |   |   |   |   |--- truncated branch of depth 4
|   |   |   |   |   |   |   |   |   |   |--- euribor3m >  1.27
|   |   |   |   |   |   |   |   |   |   |   |--- class: 0
|   |   |   |   |   |   |   |   |   |--- duration >  229.50
|   |   |   |   |   |   |   |   |   |   |--- duration <= 230.50
|   |   |   |   |   |   |   |   |   |   |   |--- truncated branch of depth 2
|   |   |   |   |   |   |   |   |   |   |--- duration >  230.50
|   |   |   |   |   |   |   |   |   |   |   |--- truncated branch of depth 7
|   |   |   |   |   |   |   |   |--- duration >  310.50
|   |   |   |   |   |   |   |   |   |--- euribor3m <= 1.29
|   |   |   |   |   |   |   |   |   |   |--- job <= 8.50
|   |   |   |   |   |   |   |   |   |   |   |--- truncated branch of depth 3
|   |   |   |   |   |   |   |   |   |   |--- job >  8.50
|   |   |   |   |   |   |   |   |   |   |   |--- class: 1
|   |   |   |   |   |   |   |   |   |--- euribor3m >  1.29
|   |   |   |   |   |   |   |   |   |   |--- campaign <= 7.50
|   |   |   |   |   |   |   |   |   |   |   |--- truncated branch of depth 6
|   |   |   |   |   |   |   |   |   |   |--- campaign >  7.50
|   |   |   |   |   |   |   |   |   |   |   |--- truncated branch of depth 2
|   |   |   |   |   |--- age >  70.50
|   |   |   |   |   |   |--- class: 1
|   |   |   |   |--- month >  7.50
|   |   |   |   |   |--- duration <= 83.00
|   |   |   |   |   |   |--- class: 0
|   |   |   |   |   |--- duration >  83.00
|   |   |   |   |   |   |--- class: 1
|   |   |   |--- duration >  416.00
|   |   |   |   |--- euribor3m <= 4.60
|   |   |   |   |   |--- job <= 9.50
|   |   |   |   |   |   |--- day_of_week <= 2.50
|   |   |   |   |   |   |   |--- age <= 58.50
|   |   |   |   |   |   |   |   |--- campaign <= 1.50
|   |   |   |   |   |   |   |   |   |--- housing <= 1.00
|   |   |   |   |   |   |   |   |   |   |--- education <= 6.50
|   |   |   |   |   |   |   |   |   |   |   |--- class: 0
|   |   |   |   |   |   |   |   |   |   |--- education >  6.50
|   |   |   |   |   |   |   |   |   |   |   |--- class: 1
|   |   |   |   |   |   |   |   |   |--- housing >  1.00
|   |   |   |   |   |   |   |   |   |   |--- euribor3m <= 1.35
|   |   |   |   |   |   |   |   |   |   |   |--- class: 1
|   |   |   |   |   |   |   |   |   |   |--- euribor3m >  1.35
|   |   |   |   |   |   |   |   |   |   |   |--- class: 0
|   |   |   |   |   |   |   |   |--- campaign >  1.50
|   |   |   |   |   |   |   |   |   |--- class: 0
|   |   |   |   |   |   |   |--- age >  58.50
|   |   |   |   |   |   |   |   |--- class: 1
|   |   |   |   |   |   |--- day_of_week >  2.50
|   |   |   |   |   |   |   |--- education <= 4.00
|   |   |   |   |   |   |   |   |--- euribor3m <= 1.29
|   |   |   |   |   |   |   |   |   |--- class: 1
|   |   |   |   |   |   |   |   |--- euribor3m >  1.29
|   |   |   |   |   |   |   |   |   |--- marital <= 1.50
|   |   |   |   |   |   |   |   |   |   |--- class: 0
|   |   |   |   |   |   |   |   |   |--- marital >  1.50
|   |   |   |   |   |   |   |   |   |   |--- class: 1
|   |   |   |   |   |   |   |--- education >  4.00
|   |   |   |   |   |   |   |   |--- emp.var.rate <= -0.95
|   |   |   |   |   |   |   |   |   |--- class: 1
|   |   |   |   |   |   |   |   |--- emp.var.rate >  -0.95
|   |   |   |   |   |   |   |   |   |--- age <= 33.00
|   |   |   |   |   |   |   |   |   |   |--- class: 1
|   |   |   |   |   |   |   |   |   |--- age >  33.00
|   |   |   |   |   |   |   |   |   |   |--- class: 0
|   |   |   |   |   |--- job >  9.50
|   |   |   |   |   |   |--- class: 1
|   |   |   |   |--- euribor3m >  4.60
|   |   |   |   |   |--- day_of_week <= 3.50
|   |   |   |   |   |   |--- duration <= 482.50
|   |   |   |   |   |   |   |--- class: 0
|   |   |   |   |   |   |--- duration >  482.50
|   |   |   |   |   |   |   |--- duration <= 484.00
|   |   |   |   |   |   |   |   |--- class: 1
|   |   |   |   |   |   |   |--- duration >  484.00
|   |   |   |   |   |   |   |   |--- duration <= 510.00
|   |   |   |   |   |   |   |   |   |--- duration <= 503.50
|   |   |   |   |   |   |   |   |   |   |--- class: 0
|   |   |   |   |   |   |   |   |   |--- duration >  503.50
|   |   |   |   |   |   |   |   |   |   |--- housing <= 1.00
|   |   |   |   |   |   |   |   |   |   |   |--- class: 1
|   |   |   |   |   |   |   |   |   |   |--- housing >  1.00
|   |   |   |   |   |   |   |   |   |   |   |--- class: 0
|   |   |   |   |   |   |   |   |--- duration >  510.00
|   |   |   |   |   |   |   |   |   |--- class: 0
|   |   |   |   |   |--- day_of_week >  3.50
|   |   |   |   |   |   |--- euribor3m <= 4.97
|   |   |   |   |   |   |   |--- duration <= 536.50
|   |   |   |   |   |   |   |   |--- duration <= 457.00
|   |   |   |   |   |   |   |   |   |--- class: 0
|   |   |   |   |   |   |   |   |--- duration >  457.00
|   |   |   |   |   |   |   |   |   |--- duration <= 461.00
|   |   |   |   |   |   |   |   |   |   |--- class: 1
|   |   |   |   |   |   |   |   |   |--- duration >  461.00
|   |   |   |   |   |   |   |   |   |   |--- default <= 0.50
|   |   |   |   |   |   |   |   |   |   |   |--- class: 0
|   |   |   |   |   |   |   |   |   |   |--- default >  0.50
|   |   |   |   |   |   |   |   |   |   |   |--- class: 1
|   |   |   |   |   |   |   |--- duration >  536.50
|   |   |   |   |   |   |   |   |--- class: 1
|   |   |   |   |   |   |--- euribor3m >  4.97
|   |   |   |   |   |   |   |--- class: 1
|--- duration >  563.50
|   |--- duration <= 838.50
|   |   |--- euribor3m <= 1.32
|   |   |   |--- default <= 0.50
|   |   |   |   |--- age <= 28.00
|   |   |   |   |   |--- pdays <= 509.00
|   |   |   |   |   |   |--- class: 1
|   |   |   |   |   |--- pdays >  509.00
|   |   |   |   |   |   |--- class: 0
|   |   |   |   |--- age >  28.00
|   |   |   |   |   |--- age <= 58.50
|   |   |   |   |   |   |--- duration <= 752.00
|   |   |   |   |   |   |   |--- class: 1
|   |   |   |   |   |   |--- duration >  752.00
|   |   |   |   |   |   |   |--- age <= 31.50
|   |   |   |   |   |   |   |   |--- class: 1
|   |   |   |   |   |   |   |--- age >  31.50
|   |   |   |   |   |   |   |   |--- age <= 41.00
|   |   |   |   |   |   |   |   |   |--- class: 0
|   |   |   |   |   |   |   |   |--- age >  41.00
|   |   |   |   |   |   |   |   |   |--- class: 1
|   |   |   |   |   |--- age >  58.50
|   |   |   |   |   |   |--- cons.price.idx <= 93.75
|   |   |   |   |   |   |   |--- class: 0
|   |   |   |   |   |   |--- cons.price.idx >  93.75
|   |   |   |   |   |   |   |--- job <= 7.50
|   |   |   |   |   |   |   |   |--- class: 1
|   |   |   |   |   |   |   |--- job >  7.50
|   |   |   |   |   |   |   |   |--- class: 0
|   |   |   |--- default >  0.50
|   |   |   |   |--- class: 0
|   |   |--- euribor3m >  1.32
|   |   |   |--- day_of_week <= 2.50
|   |   |   |   |--- age <= 58.50
|   |   |   |   |   |--- campaign <= 2.50
|   |   |   |   |   |   |--- cons.conf.idx <= -36.25
|   |   |   |   |   |   |   |--- age <= 36.50
|   |   |   |   |   |   |   |   |--- euribor3m <= 4.96
|   |   |   |   |   |   |   |   |   |--- loan <= 1.50
|   |   |   |   |   |   |   |   |   |   |--- class: 0
|   |   |   |   |   |   |   |   |   |--- loan >  1.50
|   |   |   |   |   |   |   |   |   |   |--- euribor3m <= 1.46
|   |   |   |   |   |   |   |   |   |   |   |--- class: 0
|   |   |   |   |   |   |   |   |   |   |--- euribor3m >  1.46
|   |   |   |   |   |   |   |   |   |   |   |--- class: 1
|   |   |   |   |   |   |   |   |--- euribor3m >  4.96
|   |   |   |   |   |   |   |   |   |--- education <= 2.50
|   |   |   |   |   |   |   |   |   |   |--- class: 0
|   |   |   |   |   |   |   |   |   |--- education >  2.50
|   |   |   |   |   |   |   |   |   |   |--- class: 1
|   |   |   |   |   |   |   |--- age >  36.50
|   |   |   |   |   |   |   |   |--- age <= 40.50
|   |   |   |   |   |   |   |   |   |--- class: 1
|   |   |   |   |   |   |   |   |--- age >  40.50
|   |   |   |   |   |   |   |   |   |--- duration <= 689.00
|   |   |   |   |   |   |   |   |   |   |--- age <= 53.00
|   |   |   |   |   |   |   |   |   |   |   |--- truncated branch of depth 3
|   |   |   |   |   |   |   |   |   |   |--- age >  53.00
|   |   |   |   |   |   |   |   |   |   |   |--- class: 1
|   |   |   |   |   |   |   |   |   |--- duration >  689.00